## Pengenalan Python

In [131]:
#numerik: integer, float, complex
angka = 7
print(angka)
type(angka) #untuk melihat tipe data

7

int

variabel ga boleh sama karena nanti akan di override di baris code yg paling terbaru

In [132]:
#bil kompleks, jarang digunakan
#contoh 2+5i = bil kompleks
#bil kompleks gabungan angka riil + angka imaginer

angka_kompleks = 2+5j #di python pakenya j bukan i
print(angka_kompleks)
type(angka_kompleks)

(2+5j)

complex

.4e7 = 0.4 x 10 pangkat 7

In [133]:
angkaf = 4.7e-4
print(angkaf)

0.00047

# Strings

In [134]:
# seq of characters
# ciri dari tipe data strings diapit tanda kutip "", ''
# bedakan antara string untuk data sama yang di variabel

In [135]:
#menggunakan / jika ingin menggunakan karakter atau tanda baca dala suatu kata

In [136]:
# menggunakan triple quote untuk menuliskan string yang panjang dan beda baris

lirik = """kamu dimana
sedang apa dan berbuat apa"""
print(lirik)

kamu dimana
sedang apa dan berbuat apa

In [137]:
# string formatting = metode agar bisa memasukan sesuatu ke dalam string
#f-string
nama = "Alicia"
usia = 30
print("Nama kamu adalah : ... dan usia kamu adalah ...")
print(f"Nama kamu adalah : {nama} dan usia kamu adalah {usia}")

Nama kamu adalah : ... dan usia kamu adalah ...
Nama kamu adalah : Alicia dan usia kamu adalah 30

### User input program

In [138]:
# lebih enak dipake di script karena input namanya ga aneh

In [139]:
nama = input("Masukkan nama Anda : ")
usia = input("Masukkan usia Anda : ")

print(f"Nama kamu adalah : {nama} dan usia kamu adalah {usia}")

Nama kamu adalah : yoo dan usia kamu adalah 27

In [140]:
print(f"Nama kamu adalah : {nama}\ndan usia kamu adalah {usia}")

Nama kamu adalah : yoo
dan usia kamu adalah 27

In [141]:
print(f"""Nama kamu adalah : {nama}
dan usia kamu adalah {usia}""")

Nama kamu adalah : yoo
dan usia kamu adalah 27

## Boolean

In [142]:
# warna tulisan akan auto berubah jika tru/falsenya dipakai untuk boolean

In [143]:
yoo_sf9 = True
print(yoo_sf9)
type(yoo_sf9)

True

bool

In [144]:
100 < 500

True

In [145]:
100 > 500

False

In [146]:
a = 25
print(a)

25

In [147]:
a == 25

True

In [148]:
a == 30

False

In [149]:
# variable assignment
a = b = c  = 46
print(f"a : {a}")
print(f"b : {b}")
print(f"c : {c}")

a : 46
b : 46
c : 46

In [150]:
a = b = c = 1, 46, 30
print(f"a : {a}")
print(f"b : {b}")
print(f"c : {c}")

a : (1, 46, 30)
b : (1, 46, 30)
c : (1, 46, 30)

In [151]:
#aturan penulisan variabel = merepresentasikan isi dari datanya, agar mudah dibaca, dipahami dan diingat

# Operations & Expressions

In [152]:
# operasi aritmatika
angka_1 = 7
angka_2 = 3
print(f"hasil penjumlahan : {angka_1 + angka_2}")
print(f"hasil pengurangan : {angka_1 - angka_2}")
print(f"hasil perkalian : {angka_1 * angka_2}")
print(f"hasil pembagian normal : {angka_1 / angka_2}")
print(f"hasil pembagian bulat : {angka_1 // angka_2}")
print(f"hasil pangkat : {angka_1 ** angka_2}")
print(f"hasil sisa bagi : {angka_1 % angka_2}") #modulus

hasil penjumlahan : 10
hasil pengurangan : 4
hasil perkalian : 21
hasil pembagian normal : 2.3333333333333335
hasil pembagian bulat : 2
hasil pangkat : 343
hasil sisa bagi : 1

In [153]:
#string bisa menggunakan operasi aritmatika
string_1 = "Alicia"
string_2 = "Sianturi"

print(f"concatenation : {string_1 + string_2}")

# untuk memisahkan ditambah spasi dengen menambahkan kutip di tengah

print(f"concatenation : {string_1 + ' ' + string_2}") #str & str

# mengoperasikan string dan int
print(f"repeating : {string_1 * 5}") # str & int

concatenation : AliciaSianturi
concatenation : Alicia Sianturi
repeating : AliciaAliciaAliciaAliciaAlicia

### Comparison Operator

In [154]:
a = 10
b = 8

print(f" a == b (sama dengan) : {a == b}")
print(f" a != b (tidak sama dengan) : {a != b}")
print(f" a >= b (lebih besar sama dengan) : {a > b}")
print(f" a =< b (lebih kecil) : {a < b}")

 a == b (sama dengan) : False
 a != b (tidak sama dengan) : True
 a >= b (lebih besar sama dengan) : True
 a =< b (lebih kecil) : False

#### String Manipulation

In [155]:
nama = "Alicia Sianturi"

In [156]:
nama.upper()

'ALICIA SIANTURI'

In [157]:
nama.swapcase()

'aLICIA sIANTURI'

In [158]:
nama.capitalize()

'Alicia sianturi'

# Tipe Data Majemuk

In [159]:
#perbedaan tuple dan list ada di sistemnya
# tuple = immutable, TIDAK bisa diubah, read only, tida bisa diganti/modifikasi elemennya
# list = mutable, bisa diubah

In [160]:
#menambah data pada list
a = [1, 2, 3, 4, 5]

In [161]:
# append
a.append(100)

In [162]:
a

[1, 2, 3, 4, 5, 100]

In [163]:
# insert, harus hati2 kalo kedobel nge-run, datanya jadi kemasuk dua kali
a.insert(3,46)
print(a)

[1, 2, 3, 46, 4, 5, 100]

## Dictionary

In [166]:
# dictionary menggunakan kurawal
biodata = {"nama" : "Alicia",
            "usia" : 30,
            "pekerjaan" : "trader",
            "company": "xxx"}

print(biodata)

{'nama': 'Alicia', 'usia': 30, 'pekerjaan': 'trader', 'company': 'xxx'}

In [171]:
# buat nambah
biodata["status"] = "belum menikah"

In [172]:
biodata

{'nama': 'Alicia',
 'usia': 30,
 'pekerjaan': 'trader',
 'company': 'xxx',
 'status': 'belum menikah'}

In [173]:
# delete item
del biodata["status"]

In [174]:
biodata

{'nama': 'Alicia', 'usia': 30, 'pekerjaan': 'trader', 'company': 'xxx'}